
<div class="card m-3">
  <div class="card-body">
      <div class="complaint row w-100 justify-content-center allign-content-center d-flex p-2 h-100">
        <div class="col-md-8">
            <div class="row w-100">
                <label class="col-md-6">Token no.</label> <label class="col-md-6">:{{complaint.token}}</label>
            </div>
            <div class="row w-100">
                <label class="col-md-6">Name</label><label class="col-md-6">:{{complaint.name}}</label>
            </div>
            <div class="row w-100">
                <label class="col-md-6">Complaint Category</label ><label class="col-md-6">:{{complaint.category}}</label>
            </div>
            <div class="row w-100">
                <label class="col-md-6">District</label><label class="col-md-6">:{{complaint.district}}</label>
            </div>
            <div class="row w-100">
                <label class="col-md-6">Complaint Description</label><label class="col-md-6">{{complaint.description}}</label>
            </div>
            <div class="row w-100">
                <label class="col-md-6">Uploaded image</label><a href="/photo/{{complaint.token}}" >:View</a>
            </div>
            <div class="row w-100">
                <label class="col-md-6">Status</label><label class="col-md-6">:{{complaint.status}}</label>
            </div>
        </div>
    </div>
  </div>
</div>