
<div class="card m-3">
  <div class="card-body">
      <div class="complaint row w-100 justify-content-center allign-content-center d-flex p-2 h-100">
        <div class="col-md-8">
            <div class="row w-100">
                <label class="w-50">Token no.</label>:  <label >{{complaint.token}}</label>
            </div>
            <div class="row w-100">
                <label class="w-50">Name</label>:  <label>{{complaint.name}}</label>
            </div>
            <div class="row w-100">
                <label class="w-50">Complaint Category</label>:  <label>{{complaint.category}}</label>
            </div>
            <div class="row w-100">
                <label class="w-50">District</label>:  <label>{{complaint.district}}</label>
            </div>
            <div class="row w-100">
                <label class="w-50">Complaint Description</label>:  <label>{{complaint.description}}</label>
            </div>
            <div class="row w-100">
                <label class="w-50">Uploaded image</label>:  <a href="/photo/{{complaint.token}}" >View</a>
            </div>
            <div class="row w-100">
                <label class="w-50">Status</label>:  <label>{{complaint.status}}</label>
            </div>
        </div>
    </div>
  </div>
</div>